.container {
    display: flex;
    padding: 0 0 30px 30px;
}
.list {
    width: 300px;
    list-style: none;
}
.categories {
    color: black;
    font-style: italic;
}
.category {
    padding: 12px 0;
}
.category:hover {
    background-color: #a1a1a1;
}
.allGoods {
    font-style: italic;
    padding: 10px 0;
}
.allGoods:hover {
    background-color: #a1a1a1;
}
.carouselBlock {
    width: 1100px;
    height: 450px;
}


