.container {
    margin-top: 50px;
}
.link {
    text-align: center;
}
.title {
    width: 100%;
    background-color: gray;
    margin-bottom: 20px;
    color: black;
}
.listCard {
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    list-style: none;
}
