.cardWrapper {
    position: relative;
    width: 176px;
    height: 176px;
}

.img {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    left: 2%;
    top: 60%;
}
.description {
    position: absolute;
    left: 2%;
    top: 75%;
}
.price {
    position: absolute;
    left: 2%;
    top: 85%;
}
