.blockParams {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin: 40px auto 20px;
}
.sort {
    width: 40%;
}
.price {
    margin: 40px auto 0;
    width: 80%;
    text-align: center;
}
.textAdmin {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.input {
    margin-top: 20px;
    font-size: 17px;
}
